<div class="section elementor-38">

    <section
            class="elementor-section elementor-top-section elementor-element elementor-element-2d9a71ba elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="2d9a71ba"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
            {% if hideSection %}style="display: none"{% endif %}
    >
        <div class="elementor-container elementor-column-gap-default">
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-56a43a68 elementor-invisible"
                    data-id="56a43a68"
                    data-element_type="column"
                    data-settings='{"background_background":"classic","animation":"fadeInUp"}'
            >
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <div
                            class="elementor-element elementor-element-1e7966d7 elementor-widget elementor-widget-heading"
                            data-id="1e7966d7"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                    >
                        <div class="elementor-widget-container">
                            <h3 class="elementor-heading-title elementor-size-default">
                                Contactanos
                            </h3>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-445f724c elementor-widget elementor-widget-spacer"
                            data-id="445f724c"
                            data-element_type="widget"
                            data-widget_type="spacer.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-7fc080b6 elementor-widget elementor-widget-metform"
                            data-id="7fc080b6"
                            data-element_type="widget"
                            data-widget_type="metform.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-widget-container">
                                <div id="mf-response-props-id-157" data-previous-steps-style="" data-editswitchopen=""
                                     data-response_type="alert" data-erroricon="fas fa-exclamation-triangle"
                                     data-successicon="fas fa-check" data-messageposition="top"
                                     class="mf-scroll-top-no">
                                    <div class="formpicker_warper formpicker_warper_editable"
                                         data-metform-formpicker-key="157">
                                        <div class="elementor-widget-container">
                                            <div id="metform-wrap-7fc080b6-157" class="mf-form-wrapper"
                                                 data-form-id="157"
                                                 data-action="./wp-json/metform/v1/entries/insert/157"
                                                 data-wp-nonce="c905ac24cb" data-form-nonce="b958eaf197"
                                                 data-quiz-summery="false" data-save-progress="false"
                                                 data-form-type="contact_form" data-stop-vertical-effect="">
                                                <form class="metform-form-content" action="{{ data.form }}" method="POST">
                                                    <div class="metform-form-main-wrapper">
                                                        <div data-elementor-type="wp-post" data-elementor-id="157"
                                                             class="elementor elementor-157">
                                                            <section
                                                                    class="elementor-section elementor-top-section elementor-element elementor-element-c163fb6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                    data-id="c163fb6" data-element_type="section">
                                                                <div class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7323964"
                                                                         data-id="7323964" data-element_type="column">
                                                                        <div class="elementor-widget-wrap elementor-element-populated">
                                                                            <div class="elementor-element elementor-element-b39ae92 elementor-widget elementor-widget-mf-text"
                                                                                 data-id="b39ae92"
                                                                                 data-element_type="widget"
                                                                                 data-settings="{&quot;mf_input_name&quot;:&quot;mf-text&quot;}"
                                                                                 data-widget_type="mf-text.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper">
                                                                                        <input
                                                                                                type="text"
                                                                                                class="mf-input "
                                                                                                id="mf-input-text-b39ae92"
                                                                                                name="Nombre"
                                                                                                placeholder="Nombre "
                                                                                                aria-invalid="false">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-67ced98 elementor-widget elementor-widget-spacer"
                                                                                 data-id="67ced98"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="spacer.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-spacer">
                                                                                        <div class="elementor-spacer-inner"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-c60ee45 elementor-widget elementor-widget-mf-email"
                                                                                 data-id="c60ee45"
                                                                                 data-element_type="widget"
                                                                                 data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}"
                                                                                 data-widget_type="mf-email.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-input-wrapper">
                                                                                        <input
                                                                                                type="email"
                                                                                                class="mf-input "
                                                                                                id="mf-input-email-c60ee45"
                                                                                                name="email"
                                                                                                placeholder="Email "
                                                                                                aria-invalid="false"
                                                                                                value=""></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-d522cba elementor-widget elementor-widget-spacer"
                                                                                 data-id="d522cba"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="spacer.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-spacer">
                                                                                        <div class="elementor-spacer-inner"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="elementor-element elementor-element-5eef30b mf-btn--center elementor-widget elementor-widget-mf-button"
                                                                                 data-id="5eef30b"
                                                                                 data-element_type="widget"
                                                                                 data-widget_type="mf-button.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="mf-btn-wraper "
                                                                                         data-mf-form-conditional-logic-requirement="">
                                                                                        <button type="submit"
                                                                                                class="metform-btn metform-submit-btn "
                                                                                                id=""><span>Contactanos ahora </span>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-5244888b elementor-widget elementor-widget-spacer"
                            data-id="5244888b"
                            data-element_type="widget"
                            data-widget_type="spacer.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6531d429"
                    data-id="6531d429"
                    data-element_type="column"
            >
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div
                            class="elementor-element elementor-element-42006c1e elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                            data-id="42006c1e"
                            data-element_type="widget"
                            data-settings='{"_animation":"fadeInUp","_animation_delay":300}'
                            data-widget_type="divider.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
                                <span class="elementor-divider-separator"> </span>
                            </div>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-1c576b99 elementor-widget elementor-widget-spacer"
                            data-id="1c576b99"
                            data-element_type="widget"
                            data-widget_type="spacer.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-782f6719 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                            data-id="782f6719"
                            data-element_type="widget"
                            data-widget_type="icon-list.default"
                    >
                        <div class="elementor-widget-container">
                            <ul class="elementor-icon-list-items">
                                <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="far fa-envelope"></i>
                      </span>
                                    <span class="elementor-icon-list-text"
                                    ><a
                                                href="mailto:{{ data.email }}"
                                                class="__cf_email__"
                                        >{{ data.email }}</a
                                        ></span
                                    >
                                </li>
                                <li class="elementor-icon-list-item">
                              <span class="elementor-icon-list-icon">
                                <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                              </span>

                                    <span class="elementor-icon-list-text">{{ data.address1 }}<br/>{{ data.address2 }}</span>
                                </li>
                                <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-phone"></i>
                      </span>
                                    <span class="elementor-icon-list-text">{{ data.phone }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section
            class="elementor-section elementor-top-section elementor-element elementor-element-229d1afc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="229d1afc"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
    >
        <div class="elementor-container elementor-column-gap-default">
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2678683c"
                    data-id="2678683c"
                    data-element_type="column"
            >
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div
                            class="elementor-element elementor-element-67a80600 elementor-widget elementor-widget-heading"
                            data-id="67a80600"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                    >
                        <div class="elementor-widget-container">
                  <span class="elementor-heading-title elementor-size-default"
                  >Copyright © 2024 Developed by <a href="https://www.bizmarketing.us"
                                                    target="_blank">Bizmarketing.us</a></span
                  >
                        </div>
                    </div>
                </div>
            </div>
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3a9a22a1"
                    data-id="3a9a22a1"
                    data-element_type="column"
            >
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div
                            class="elementor-element elementor-element-455554c elementor-view-default elementor-widget elementor-widget-icon"
                            data-id="455554c"
                            data-element_type="widget"
                            data-widget_type="icon.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-wrapper">
                                <a class="elementor-icon" href="#townow-top">
                                    <i aria-hidden="true" class="fas fa-arrow-circle-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
