---
layout: layouts/default.njk
title: Servicios de Remolque en Oregon | LLA Towing
eleventyNavigation:
  key: Inicio
  order: 1
---
  <body
    class="home page-template-default page page-id-38 ehf-template-hello-elementor ehf-stylesheet-hello-elementor elementor-default elementor-template-canvas elementor-kit-3 elementor-page elementor-page-38"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-dark-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0.49803921568627" />
            <feFuncG type="table" tableValues="0 0.49803921568627" />
            <feFuncB type="table" tableValues="0 0.49803921568627" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.54901960784314 0.98823529411765"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB
              type="table"
              tableValues="0.71764705882353 0.25490196078431"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-red">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 0.27843137254902" />
            <feFuncB
              type="table"
              tableValues="0.5921568627451 0.27843137254902"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-midnight">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0" />
            <feFuncG type="table" tableValues="0 0.64705882352941" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-magenta-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.78039215686275 1" />
            <feFuncG type="table" tableValues="0 0.94901960784314" />
            <feFuncB
              type="table"
              tableValues="0.35294117647059 0.47058823529412"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-green">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.65098039215686 0.40392156862745"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0.44705882352941 0.4" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-orange">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.098039215686275 1" />
            <feFuncG type="table" tableValues="0 0.66274509803922" />
            <feFuncB
              type="table"
              tableValues="0.84705882352941 0.41960784313725"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <div
      data-elementor-type="wp-page"
      data-elementor-id="38"
      class="elementor elementor-38"
    >
      {% include "header/header.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-64272ec9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="64272ec9"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73c49f36"
            data-id="73c49f36"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-1d38fed elementor-widget elementor-widget-heading"
                data-id="1d38fed"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    {{data.home.hero.title}}
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-47950733 elementor-widget elementor-widget-spacer"
                data-id="47950733"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-36689b85 elementor-widget elementor-widget-heading"
                data-id="232f927a"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    {{data.home.hero.subtitle1}}
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-3b9d4654 elementor-widget elementor-widget-spacer"
                data-id="3b9d4654"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-232f927a elementor-invisible elementor-widget elementor-widget-heading"
                data-id="36689b85"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    {{data.home.hero.subtitle2}}
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-732cd710 elementor-widget elementor-widget-spacer"
                data-id="732cd710"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2e814cf7 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="2e814cf7"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft","_animation_delay":300}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "sections/contact.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-12ebba04 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="12ebba04"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-619783c"
            data-id="619783c"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5cd56a15"
            data-id="5cd56a15"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-3e6e8e2e elementor-widget elementor-widget-heading"
                data-id="3e6e8e2e"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Acerca
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-8e14b08 elementor-widget elementor-widget-spacer"
                data-id="8e14b08"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-4ca21d45 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="4ca21d45"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7e38bcf9 elementor-widget elementor-widget-spacer"
                data-id="7e38bcf9"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1df746c elementor-widget elementor-widget-heading"
                data-id="1df746c"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Servicio de remolque rápido y efectivo.
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-37d81a16 elementor-widget elementor-widget-spacer"
                data-id="37d81a16"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-3fdb8d3e elementor-widget elementor-widget-text-editor"
                data-id="3fdb8d3e"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>Sabemos que las emergencias en la carretera pueden ser estresantes y preocupantes, y es por eso que estamos comprometidos a brindarte un servicio de remolque rápido y efectivo que te devuelva la tranquilidad en esos momentos críticos. Nuestra flota de vehículos está lista para responder a tu llamada las 24 horas del día, los 7 días de la semana, para asegurarnos de que estés de nuevo en marcha en el menor tiempo posible.</p>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1d57065c elementor-widget elementor-widget-spacer"
                data-id="1d57065c"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-16cc5814 elementor-invisible elementor-widget elementor-widget-button"
                data-id="16cc5814"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft","_animation_delay":300}'
                data-widget_type="button.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a
                      class="elementor-button elementor-button-link elementor-size-sm"
                      href="./about"
                    >
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Saber más</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4a3f3d5b"
            data-id="4a3f3d5b"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-6647ee0f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="6647ee0f"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-5ae6c21"
            data-id="5ae6c21"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-665d2f2 elementor-widget elementor-widget-heading"
                data-id="665d2f2"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    <a href="/services/"
                      >{{data.home.services[0].titleResumed}}</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-58f0d930 elementor-invisible"
            data-id="58f0d930"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeInRight"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-594a99a5 elementor-widget elementor-widget-heading"
                data-id="594a99a5"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    <a href="/services/">{{data.home.services[1].titleResumed}}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-32538726 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="32538726"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3107d6ef elementor-invisible"
            data-id="3107d6ef"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeInLeft","animation_delay":300}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-76b101e1 elementor-widget elementor-widget-heading"
                data-id="76b101e1"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    <a href="/services/">{{data.home.services[2].titleResumed}}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-28554174"
            data-id="28554174"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-ab6f942 elementor-widget elementor-widget-heading"
                data-id="ab6f942"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    <a href="/services/">{{data.home.services[3].titleResumed}}</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-26064313 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="26064313"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1a032195"
            data-id="1a032195"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-4fe2a982 elementor-view-default elementor-widget elementor-widget-icon"
                data-id="4fe2a982"
                data-element_type="widget"
                data-widget_type="icon.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-icon-wrapper">
                    <div class="elementor-icon">
                      <i aria-hidden="true" class="far fa-clock"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-756e5e3c elementor-widget elementor-widget-spacer"
                data-id="756e5e3c"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5a5853f5 elementor-widget elementor-widget-heading"
                data-id="5a5853f5"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Le ayudamos en menos de 30 minutos
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-8d570e2 elementor-widget elementor-widget-spacer"
                data-id="8d570e2"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-4a3428a1 elementor-widget elementor-widget-text-editor"
                data-id="4a3428a1"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>
                    Estamos aquí para brindarte asistencia en menos de 30 minutos. No importa cuándo o dónde necesites ayuda, nuestro equipo estará en camino para resolver tus problemas de manera rápida y eficiente. Tu tranquilidad es nuestra prioridad.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-11432523 elementor-invisible"
            data-id="11432523"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeInRight","animation_delay":600}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-64edd3fb elementor-view-default elementor-widget elementor-widget-icon"
                data-id="64edd3fb"
                data-element_type="widget"
                data-widget_type="icon.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-icon-wrapper">
                    <div class="elementor-icon">
                      <i aria-hidden="true" class="fas fa-phone"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-4181686c elementor-widget elementor-widget-spacer"
                data-id="4181686c"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5e2a219b elementor-widget elementor-widget-heading"
                data-id="5e2a219b"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    24/7 Emergencia<br />
                    {{data.phone}}
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-311b5f37 elementor-widget elementor-widget-spacer"
                data-id="311b5f37"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-4e422c4f elementor-widget elementor-widget-text-editor"
                data-id="4e422c4f"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>
                    Nuestra línea de emergencia está disponible las 24 horas del día, los 7 días de la semana. Comprendemos que las emergencias en la carretera no tienen horario. Estamos aquí para ayudarte en cualquier momento, para que puedas volver a la carretera de manera segura.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1d8e98e6"
            data-id="1d8e98e6"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-5fe058bb elementor-view-default elementor-widget elementor-widget-icon"
                data-id="5fe058bb"
                data-element_type="widget"
                data-widget_type="icon.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-icon-wrapper">
                    <div class="elementor-icon">
                      <i aria-hidden="true" class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5508fabe elementor-widget elementor-widget-spacer"
                data-id="5508fabe"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-4ababbc elementor-widget elementor-widget-heading"
                data-id="4ababbc"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Los mejores precios siempre
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-785d4104 elementor-widget elementor-widget-spacer"
                data-id="785d4104"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1cc37418 elementor-widget elementor-widget-text-editor"
                data-id="1cc37418"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>
                    Ofrecemos los mejores precios en la industria. En Lla Towing, creemos en brindar servicios de alta calidad a precios asequibles. No te preocupes por romper tu presupuesto, estamos aquí para ayudarte de la manera más económica posible. Tu satisfacción es nuestra meta.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-762940c5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="762940c5"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-49b39df9"
            data-id="49b39df9"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5e23b461"
            data-id="5e23b461"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-7814c5d5 elementor-widget elementor-widget-heading"
                data-id="7814c5d5"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Testimonios
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-56250111 elementor-widget elementor-widget-spacer"
                data-id="56250111"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-8639efa elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="8639efa"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-26823578 elementor-widget elementor-widget-spacer"
                data-id="26823578"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-4fe76fca elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="4fe76fca"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-351b7d36"
                    data-id="351b7d36"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-6737180 elementor-widget elementor-widget-image"
                        data-id="6737180"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <img
                            decoding="async"
                            src="./wp-content/uploads/sites/14/elementor/thumbs/rating.png"
                            title="young-beautiful-woman-smiling-and-taking-selfie-ph-XWN9LTC.jpg"
                            alt="young-beautiful-woman-smiling-and-taking-selfie-ph-XWN9LTC.jpg"
                            loading="lazy"
                          />
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-68f02eba elementor-widget elementor-widget-spacer"
                        data-id="68f02eba"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-35c54070 elementor-widget elementor-widget-heading"
                        data-id="35c54070"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h6
                            class="elementor-heading-title elementor-size-default"
                          >
                            {{ data.home.testimonials[0].client }}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d0f80e6"
                    data-id="6d0f80e6"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-71e15a08 elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="71e15a08"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-left"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-340bf30e elementor-widget elementor-widget-spacer"
                        data-id="340bf30e"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-67c4a9c4 elementor-widget elementor-widget-text-editor"
                        data-id="67c4a9c4"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            {{ data.home.testimonials[0].testimonial }}
                          </p>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-3510585f elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="3510585f"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-right"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div
                class="elementor-element elementor-element-66bc2fc9 elementor-widget elementor-widget-spacer"
                data-id="66bc2fc9"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6cb315f4 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="6cb315f4"
                data-element_type="widget"
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5a813195 elementor-widget elementor-widget-spacer"
                data-id="5a813195"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-125af719 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="125af719"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-44e66c4d"
                    data-id="44e66c4d"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-6ded431f elementor-widget elementor-widget-image"
                        data-id="6ded431f"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <img
                            decoding="async"
                            src="./wp-content/uploads/sites/14/elementor/thumbs/rating.png"
                            title="young-woman-smiling-and-talking-a-selfie-PPNZP4D.jpg"
                            alt="young-woman-smiling-and-talking-a-selfie-PPNZP4D.jpg"
                            loading="lazy"
                          />
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-77bfcbb9 elementor-widget elementor-widget-spacer"
                        data-id="77bfcbb9"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-2d52e85e elementor-widget elementor-widget-heading"
                        data-id="2d52e85e"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h6
                            class="elementor-heading-title elementor-size-default"
                          >
                            {{ data.home.testimonials[1].client }}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3488786"
                    data-id="3488786"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-514fbdb elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="514fbdb"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-left"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-f5265ac elementor-widget elementor-widget-spacer"
                        data-id="f5265ac"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-273b7ca7 elementor-widget elementor-widget-text-editor"
                        data-id="273b7ca7"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            {{ data.home.testimonials[1].testimonial }}
                          </p>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-24ca1378 elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="24ca1378"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-right"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ee19a75"
            data-id="ee19a75"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>

  {% include "sections/descuento.njk" %}
  {% include "footer/footer.njk" %}


    </div>
  </body>
