<div class="section elementor-38">
    <section
            class="elementor-section elementor-top-section elementor-element elementor-element-7a2b5c52 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="7a2b5c52"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
    >
        <div class="elementor-container elementor-column-gap-default">
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7079a28 elementor-hidden-phone"
                    data-id="7079a28"
                    data-element_type="column"
            >
                <div class="elementor-widget-wrap"></div>
            </div>
            <div
                    class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1929f829 elementor-invisible"
                    data-id="1929f829"
                    data-element_type="column"
                    data-settings='{"background_background":"classic","animation":"fadeInUp","animation_delay":600}'
            >
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-background-overlay"></div>
                    <div
                            class="elementor-element elementor-element-2c62220a elementor-widget elementor-widget-heading"
                            data-id="2c62220a"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                    >
                        <div class="elementor-widget-container">
                            <h4 class="elementor-heading-title elementor-size-default">
                                {{ data.home.contact.title }}
                            </h4>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-487804d1 elementor-widget elementor-widget-spacer"
                            data-id="487804d1"
                            data-element_type="widget"
                            data-widget_type="spacer.default"
                    >
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="elementor-element elementor-element-37c5ab1e elementor-widget elementor-widget-heading"
                            data-id="37c5ab1e"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                    >
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">
                                <a href="tel:{{ data.phone }}" style="color: white" data-id="phoneConversion">{{ data.phone }}</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
