<div class="section elementor-38">
<section
        class="elementor-section elementor-top-section elementor-element elementor-element-9e6eb7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="9e6eb7"
        data-element_type="section"
        data-settings='{"background_background":"classic","animation":"none"}'
>
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-45c3c8c"
                data-id="45c3c8c"
                data-element_type="column"
        >
            <div class="elementor-widget-wrap"></div>
        </div>
        <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-b2bcd7a"
                data-id="b2bcd7a"
                data-element_type="column"
        >
            <div class="elementor-widget-wrap elementor-element-populated">
                <div
                        class="elementor-element elementor-element-1c3ac383 elementor-widget elementor-widget-heading"
                        data-id="1c3ac383"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                >
                    <div class="elementor-widget-container">
                        <h4 class="elementor-heading-title elementor-size-default">
                            RECOMIENDA A UN AMIGO EN APUROS Y ÉL RECIBIRÁ UN
                        </h4>
                    </div>
                </div>
                <div
                        class="elementor-element elementor-element-a615dc8 elementor-widget elementor-widget-spacer"
                        data-id="a615dc8"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                >
                    <div class="elementor-widget-container">
                        <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                        </div>
                    </div>
                </div>
                <div
                        class="elementor-element elementor-element-48149d8c elementor-widget elementor-widget-heading"
                        data-id="48149d8c"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                >
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">
                            DESCUENTO DEL 15%
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a00309b"
                data-id="a00309b"
                data-element_type="column"
        >
            <div class="elementor-widget-wrap"></div>
        </div>
    </div>
</section>
</div>
