<div class="section elementor-46">
<section class="elementor-section elementor-top-section elementor-element elementor-element-4700c254 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4700c254" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div style="background: transparent;color: black;padding: 20px 0 70px;" class="elementor-section elementor-top-section elementor-element elementor-element-5a709e19 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5a709e19" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6a85d172" data-id="6a85d172" data-element_type="column">
                <div class="elementor-widget-wrap">
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5204d17c" data-id="5204d17c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-30e1a60f elementor-widget elementor-widget-heading" data-id="30e1a60f" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">FREQUENTLY ASKED QUESTIONS</h2>		</div>
                    </div>
                    <div class="elementor-element elementor-element-68db9927 elementor-widget elementor-widget-spacer" data-id="68db9927" data-element_type="widget" data-widget_type="spacer.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-49b3c1e7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider animated fadeInLeft" data-id="49b3c1e7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-widget_type="divider.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-24714c25" data-id="24714c25" data-element_type="column">
                <div class="elementor-widget-wrap">
                </div>
            </div>
        </div>
    </div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-46f7a895" data-id="46f7a895" data-element_type="column">
            <div class="elementor-widget-wrap">
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-48c3fbad" data-id="48c3fbad" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-ba985ab elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ba985ab" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5e958f88" data-id="5e958f88" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-49590cdb elementor-widget elementor-widget-accordion" data-id="49590cdb" data-element_type="widget" data-widget_type="accordion.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-accordion">
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-1231" class="elementor-tab-title elementor-active" data-tab="1" role="button" aria-controls="elementor-tab-content-1231" aria-expanded="true" tabindex="0" aria-selected="true">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">Does My Car Insurance Company Cover Roadside Assistance or Towing Costs?</a>
                                                </div>
                                                <div id="elementor-tab-content-1231" class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1" role="region" aria-labelledby="elementor-tab-title-1231" style="display: block;"><p>It's advisable to review your specific auto insurance policy. Many policies include roadside assistance, covering towing costs up to a certain limit. It's essential to check the details of your coverage with your insurance provider.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-1232" class="elementor-tab-title" data-tab="2" role="button" aria-controls="elementor-tab-content-1232" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">My car is all-wheel-drive, does it require a flatbed tow truck?</a>
                                                </div>
                                                <div id="elementor-tab-content-1232" class="elementor-tab-content elementor-clearfix" data-tab="2" role="region" aria-labelledby="elementor-tab-title-1232"><p>Yes, it's recommended to use a flatbed tow truck like ours for all-wheel-drive vehicles. This method ensures that all wheels are off the ground, preventing potential damage to the drivetrain during transport.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-1233" class="elementor-tab-title" data-tab="3" role="button" aria-controls="elementor-tab-content-1233" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">How Much Does Towing Cost Per Day?</a>
                                                </div>
                                                <div id="elementor-tab-content-1233" class="elementor-tab-content elementor-clearfix" data-tab="3" role="region" aria-labelledby="elementor-tab-title-1233"><p>Towing costs vary based on factors such as distance, vehicle type, and the specific circumstances. For local towing within Portland, you can expect rates to range from $75 to $125, but it's recommended to obtain a quote based on your specific needs..</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-1234" class="elementor-tab-title" data-tab="4" role="button" aria-controls="elementor-tab-content-1234" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">How Much Does Boat Towing Cost?</a>
                                                </div>
                                                <div id="elementor-tab-content-1234" class="elementor-tab-content elementor-clearfix" data-tab="4" role="region" aria-labelledby="elementor-tab-title-1234"><p>Boat towing costs depend on the size and weight of the boat. On average, rates start around $3.50 to $5.00 per mile. Larger vessels may incur higher costs due to the specialized equipment required.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-1235" class="elementor-tab-title" data-tab="5" role="button" aria-controls="elementor-tab-content-1235" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">How Much Does a Camper, RV, or Big Rig Cost To Tow?</a>
                                                </div>
                                                <div id="elementor-tab-content-1235" class="elementor-tab-content elementor-clearfix" data-tab="5" role="region" aria-labelledby="elementor-tab-title-1235"><p>Towing larger vehicles, such as campers, RVs, or big rigs, is generally more expensive due to their size and weight. Rates for these services can range from $4.00 to $7.00 per mile, reflecting the additional resources and expertise needed for such transports.</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4488c61d" data-id="4488c61d" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-10d3c5d3 elementor-widget elementor-widget-accordion" data-id="10d3c5d3" data-element_type="widget" data-widget_type="accordion.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-accordion">
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-2821" class="elementor-tab-title elementor-active" data-tab="1" role="button" aria-controls="elementor-tab-content-2821" aria-expanded="true" tabindex="0" aria-selected="true">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">What if I need to get towed after an accident?</a>
                                                </div>
                                                <div id="elementor-tab-content-2821" class="elementor-tab-content elementor-clearfix elementor-active" data-tab="1" role="region" aria-labelledby="elementor-tab-title-2821" style="display: block;"><p>In the unfortunate event of an accident, towing costs are typically covered by auto insurance. Notify your insurance company promptly, and they will guide you through the towing process and any necessary arrangements.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-2822" class="elementor-tab-title" data-tab="2" role="button" aria-controls="elementor-tab-content-2822" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">My car has an automatic transmission, can it be towed with the drive wheels on the ground?</a>
                                                </div>
                                                <div id="elementor-tab-content-2822" class="elementor-tab-content elementor-clearfix" data-tab="2" role="region" aria-labelledby="elementor-tab-title-2822"><p>Towing an automatic transmission car with the drive wheels on the ground is generally not recommended. For automatic transmission vehicles, a flatbed tow truck is the safer option, avoiding potential damage to the transmission.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-2823" class="elementor-tab-title" data-tab="3" role="button" aria-controls="elementor-tab-content-2823" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">Does it cost more to get towed on a weekend or a holiday?</a>
                                                </div>
                                                <div id="elementor-tab-content-2823" class="elementor-tab-content elementor-clearfix" data-tab="3" role="region" aria-labelledby="elementor-tab-title-2823">I want to transparently share that, like some others in the industry, we may apply additional fees for services during weekends or holidays. It's a common practice, and I recommend inquiring about any potential extra costs when arranging a tow during these times. Open communication about pricing ensures that you have all the information needed, allowing for a smooth and transparent towing experience.</div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-2824" class="elementor-tab-title" data-tab="4" role="button" aria-controls="elementor-tab-content-2824" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">Are tow trucks inspected for road worthiness?</a>
                                                </div>
                                                <div id="elementor-tab-content-2824" class="elementor-tab-content elementor-clearfix" data-tab="4" role="region" aria-labelledby="elementor-tab-title-2824"><p>As a towing company owner in Portland, Oregon, I can assure you that our tow trucks undergo regular inspections to meet strict safety and roadworthiness standards. This commitment to thorough vehicle maintenance is absolutely crucial for ensuring the safety of both our dedicated towing professionals and the vehicles we transport. It's a top priority to maintain the highest standards of safety in every aspect of our towing operations.</p></div>
                                            </div>
                                            <div class="elementor-accordion-item">
                                                <div id="elementor-tab-title-2825" class="elementor-tab-title" data-tab="5" role="button" aria-controls="elementor-tab-content-2825" aria-expanded="false">
													<span class="elementor-accordion-icon elementor-accordion-icon-right" aria-hidden="true">
															<span class="elementor-accordion-icon-closed"><i class="fas fa-plus"></i></span>
								<span class="elementor-accordion-icon-opened"><i class="fas fa-minus"></i></span>
														</span>
                                                    <a class="elementor-accordion-title" tabindex="0">Is towing rough on my car?</a>
                                                </div>
                                                <div id="elementor-tab-content-2825" class="elementor-tab-content elementor-clearfix" data-tab="5" role="region" aria-labelledby="elementor-tab-title-2825">When performed correctly, towing is generally safe for your vehicle. Flatbed towing, in particular, is considered gentle, minimizing any potential impact on your car during transport. Towing professionals take measures to secure and protect vehicles to ensure a smooth and damage-free towing experience.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-852f47a" data-id="852f47a" data-element_type="column">
            <div class="elementor-widget-wrap">
            </div>
        </div>
    </div>
</section>
</div>
