.elementor-kit-3 {
  --e-global-color-primary: #ed4e09;
  --e-global-color-secondary: #2b2424;
  --e-global-color-text: #0d0d0d;
  --e-global-color-accent: #f2991f;
  --e-global-color-31b7c84: #473c3b;
  --e-global-color-31a16b8: #e9e9e9;
  --e-global-color-d82685b: #ffffff;
  --e-global-typography-primary-font-family: "Prompt";
  --e-global-typography-primary-font-weight: 700;
  --e-global-typography-secondary-font-family: "Prompt";
  --e-global-typography-secondary-font-weight: 500;
  --e-global-typography-text-font-family: "Noto Sans";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Prompt";
  --e-global-typography-accent-font-weight: 400;
  --e-global-typography-13b64aa-font-family: "Prompt";
  --e-global-typography-13b64aa-font-size: 60px;
  --e-global-typography-13b64aa-font-weight: 700;
  --e-global-typography-13b64aa-line-height: 1em;
  --e-global-typography-5a8615b-font-family: "Prompt";
  --e-global-typography-5a8615b-font-size: 18px;
  --e-global-typography-5a8615b-font-weight: 500;
  --e-global-typography-5a8615b-line-height: 1em;
  color: var(--e-global-color-text);
  font-family: "Noto Sans", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
}
.elementor-kit-3 a {
  color: var(--e-global-color-primary);
}
.elementor-kit-3 a:hover {
  color: var(--e-global-color-accent);
}
.elementor-kit-3 h1 {
  font-family: "Prompt", Sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em;
}
.elementor-kit-3 h2 {
  font-family: "Prompt", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.elementor-kit-3 h3 {
  font-family: "Prompt", Sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1em;
}
.elementor-kit-3 h4 {
  font-family: "Prompt", Sans-serif;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
}
.elementor-kit-3 h5 {
  font-family: "Prompt", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2em;
}
.elementor-kit-3 h6 {
  font-family: "Noto Sans", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}
.elementor-kit-3 button,
.elementor-kit-3 input[type="button"],
.elementor-kit-3 input[type="submit"],
.elementor-kit-3 .elementor-button {
  font-family: "Prompt", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  color: var(--e-global-color-d82685b);
  background-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  padding: 20px 40px 20px 40px;
}
.elementor-kit-3 button:hover,
.elementor-kit-3 button:focus,
.elementor-kit-3 input[type="button"]:hover,
.elementor-kit-3 input[type="button"]:focus,
.elementor-kit-3 input[type="submit"]:hover,
.elementor-kit-3 input[type="submit"]:focus,
.elementor-kit-3 .elementor-button:hover,
.elementor-kit-3 .elementor-button:focus {
  color: var(--e-global-color-d82685b);
  background-color: var(--e-global-color-accent);
  border-radius: 0px 0px 0px 0px;
}
.elementor-kit-3 label {
  color: var(--e-global-color-text);
  font-family: "Prompt", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
}
.elementor-kit-3 input:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea,
.elementor-kit-3 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-d82685b);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-secondary);
  border-radius: 0px 0px 0px 0px;
  transition: 3ms;
  padding: 20px 20px 20px 20px;
}
.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-3 textarea:focus,
.elementor-kit-3 .elementor-field-textual:focus {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-accent);
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-bottom: 0px;
}
.elementor-element {
  --widgets-spacing: 0px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1024px) {
  .elementor-kit-3 {
    --e-global-typography-13b64aa-font-size: 50px;
    --e-global-typography-5a8615b-font-size: 16px;
    font-size: 14px;
  }
  .elementor-kit-3 h1 {
    font-size: 56px;
  }
  .elementor-kit-3 h2 {
    font-size: 40px;
  }
  .elementor-kit-3 h3 {
    font-size: 32px;
  }
  .elementor-kit-3 h4 {
    font-size: 18px;
  }
  .elementor-kit-3 h5 {
    font-size: 16px;
  }
  .elementor-kit-3 h6 {
    font-size: 15px;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-3 {
    --e-global-typography-13b64aa-font-size: 32px;
    --e-global-typography-5a8615b-font-size: 11px;
    font-size: 14px;
  }
  .elementor-kit-3 h1 {
    font-size: 42px;
  }
  .elementor-kit-3 h2 {
    font-size: 30px;
  }
  .elementor-kit-3 h3 {
    font-size: 24px;
  }
  .elementor-kit-3 h4 {
    font-size: 16px;
  }
  .elementor-kit-3 h5 {
    font-size: 14px;
  }
  .elementor-kit-3 h6 {
    font-size: 14px;
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
