.elementor-52
  .elementor-element.elementor-element-467a1964
  > .elementor-background-overlay {
  background-color: var(--e-global-color-text);
  opacity: 1;
}
.elementor-52 .elementor-element.elementor-element-467a1964 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 9;
}
.elementor-52
  .elementor-element.elementor-element-6cc91ccf
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 23px 0px 17px 0px;
}
.elementor-52 .elementor-element.elementor-element-2f0d5400 {
  text-align: left;
}
.elementor-bc-flex-widget
  .elementor-52
  .elementor-element.elementor-element-3ae23814.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-3ae23814.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-3ae23814
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52 .elementor-element.elementor-element-78dd9cf5 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-750f7c08
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-43510a7b.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-d82685b);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
}
.elementor-52
  .elementor-element.elementor-element-43510a7b.elementor-view-framed
  .elementor-icon,
.elementor-52
  .elementor-element.elementor-element-43510a7b.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-d82685b);
  color: var(--e-global-color-d82685b);
  border-color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-43510a7b.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-text);
}
.elementor-52 .elementor-element.elementor-element-43510a7b {
  --icon-box-icon-margin: 15px;
}
.elementor-52 .elementor-element.elementor-element-43510a7b .elementor-icon {
  font-size: 22px;
}
.elementor-52
  .elementor-element.elementor-element-43510a7b
  .elementor-icon-box-title {
  margin-bottom: -3px;
  color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-43510a7b
  .elementor-icon-box-title,
.elementor-52
  .elementor-element.elementor-element-43510a7b
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-43510a7b
  .elementor-icon-box-description {
  color: var(--e-global-color-d82685b);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-27a9d65a
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-d82685b);
  fill: var(--e-global-color-secondary);
  color: var(--e-global-color-secondary);
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1.elementor-view-framed
  .elementor-icon,
.elementor-52
  .elementor-element.elementor-element-3b97fda1.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-d82685b);
  color: var(--e-global-color-d82685b);
  border-color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-secondary);
}
.elementor-52 .elementor-element.elementor-element-3b97fda1 {
  --icon-box-icon-margin: 15px;
}
.elementor-52 .elementor-element.elementor-element-3b97fda1 .elementor-icon {
  font-size: 22px;
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1
  .elementor-icon-box-title {
  margin-bottom: -3px;
  color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1
  .elementor-icon-box-title,
.elementor-52
  .elementor-element.elementor-element-3b97fda1
  .elementor-icon-box-title
  a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-3b97fda1
  .elementor-icon-box-description {
  color: var(--e-global-color-d82685b);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-bc-flex-widget
  .elementor-52
  .elementor-element.elementor-element-279fc1cf.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-279fc1cf.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-279fc1cf:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-52
  .elementor-element.elementor-element-279fc1cf
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-279fc1cf:hover
  > .elementor-element-populated {
  background-color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-279fc1cf
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-279fc1cf
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52 .elementor-element.elementor-element-4f2ea606 {
  text-align: center;
}
.elementor-52
  .elementor-element.elementor-element-4f2ea606
  .elementor-heading-title {
  color: var(--e-global-color-d82685b);
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-46dafa26
  > .elementor-container {
  min-height: 50px;
}
.elementor-52
  .elementor-element.elementor-element-46dafa26
  > .elementor-background-overlay {
  background-color: var(--e-global-color-secondary);
  opacity: 1;
}
.elementor-52 .elementor-element.elementor-element-46dafa26 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 9;
}
.elementor-52
  .elementor-element.elementor-element-68bcc747
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-52 .elementor-element.elementor-element-45db76c3 a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  a.hfe-sub-menu-item {
  color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item
  a.hfe-menu-item:focus {
  color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .elementor-menu-toggle,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: var(--e-global-color-primary);
}
.elementor-52 .elementor-element.elementor-element-45db76c3 .sub-menu,
.elementor-52 .elementor-element.elementor-element-45db76c3 nav.hfe-dropdown,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .elementor-menu-toggle:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item:hover,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item:hover {
  color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  li
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-52 .elementor-element.elementor-element-45db76c3 ul.sub-menu {
  width: 220px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-52
  .elementor-element.elementor-element-45db76c3
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: none;
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  div.hfe-nav-menu-icon {
  color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  div.hfe-nav-menu-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  div.hfe-nav-menu-icon:hover {
  color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-45db76c3
  div.hfe-nav-menu-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-5d064daf:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-5d064daf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-52
  .elementor-element.elementor-element-5d064daf
  > .elementor-background-overlay {
  background-image: url("https://a.catand.us/townow/wp-content/uploads/sites/14/2021/06/towing-truck-driver-securing-vehicle-cargo-BPVFDX9-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52 .elementor-element.elementor-element-5d064daf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 150px 0px 150px 0px;
}
.elementor-52
  .elementor-element.elementor-element-261864c7
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-54753f51
  .elementor-heading-title {
  color: var(--e-global-color-primary);
}
.elementor-52 .elementor-element.elementor-element-47350538 {
  --spacer-size: 50px;
}
.elementor-52 .elementor-element.elementor-element-18b436d4 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-31a16b8);
  --divider-border-width: 5px;
}
.elementor-52
  .elementor-element.elementor-element-18b436d4
  .elementor-divider-separator {
  width: 100px;
}
.elementor-52 .elementor-element.elementor-element-18b436d4 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-52
  .elementor-element.elementor-element-629ab8fa:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-629ab8fa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-52 .elementor-element.elementor-element-629ab8fa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-629ab8fa
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-3a57db73
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-13e091c8:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("https://a.catand.us/townow/wp-content/uploads/sites/14/2021/06/tyre_red_1-1.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.15;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-element-populated
  > .elementor-background-overlay {
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-element-populated,
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-52
  .elementor-element.elementor-element-13e091c8
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: -80px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 50px 40px 50px 40px;
}
.elementor-52
  .elementor-element.elementor-element-65f5749a
  .elementor-heading-title {
  color: var(--e-global-color-d82685b);
}
.elementor-52 .elementor-element.elementor-element-35375053 {
  --spacer-size: 10px;
}
.elementor-52
  .elementor-element.elementor-element-17789b42
  .elementor-heading-title {
  color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-700e2c46:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-700e2c46
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-52 .elementor-element.elementor-element-700e2c46 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 50px 0px;
}
.elementor-52
  .elementor-element.elementor-element-700e2c46
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-37ad79fa
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-48c1fd27
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-thumbnail {
  height: 200px;
}
.elementor-52 .elementor-element.elementor-element-2f062b4a .eael-grid-post {
  padding: 0px 10px 50px 10px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post-holder {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: var(--e-global-color-31b7c84);
  border-radius: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-post-grid
  .eael-grid-post
  .eael-entry-media
  img,
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-footer {
  justify-content: flex-start;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-header-after {
  justify-content: flex-start;
  align-items: center;
}
.elementor-52 .elementor-element.elementor-element-2f062b4a .eael-entry-footer {
  margin: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-header-after {
  margin: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-title
  a {
  color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-title:hover,
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-title
  a:hover {
  color: var(--e-global-color-accent);
}
.elementor-52 .elementor-element.elementor-element-2f062b4a .eael-entry-title,
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-entry-title
  a {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
}
.elementor-52 .elementor-element.elementor-element-2f062b4a .eael-entry-title {
  margin: 10px 0px 5px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post-excerpt
  p {
  color: var(--e-global-color-d82685b);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  margin: 5px 0px 10px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-overlay {
  background-color: #0d0d0d99;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-post-grid
  .eael-grid-post
  .eael-entry-media
  .eael-entry-overlay {
  border-radius: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-overlay
  > i {
  color: #ffffff;
  font-size: 24px;
}
.elementor-52
  .elementor-element.elementor-element-2f062b4a
  .eael-grid-post
  .eael-entry-overlay
  > img {
  height: 24px;
  width: 24px;
}
.elementor-52
  .elementor-element.elementor-element-460d9b77
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-512c7d91:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-512c7d91
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-512c7d91
  > .elementor-background-overlay {
  background-image: url("https://a.catand.us/townow/wp-content/uploads/sites/14/2021/06/towing-truck-driver-securing-transported-vehicle-NZGY9DP-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52 .elementor-element.elementor-element-512c7d91 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 160px 0px;
}
.elementor-52
  .elementor-element.elementor-element-1b9b039
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-391e9e10
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52 .elementor-element.elementor-element-7d174fb2 {
  text-align: center;
}
.elementor-52
  .elementor-element.elementor-element-7d174fb2
  .elementor-heading-title {
  color: var(--e-global-color-d82685b);
}
.elementor-52 .elementor-element.elementor-element-883dc59 {
  --spacer-size: 30px;
}
.elementor-52 .elementor-element.elementor-element-44b54095 {
  text-align: center;
}
.elementor-52
  .elementor-element.elementor-element-44b54095
  .elementor-heading-title {
  color: var(--e-global-color-d82685b);
}
.elementor-52
  .elementor-element.elementor-element-29069da8
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-3b6266d0:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-3b6266d0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}
.elementor-52 .elementor-element.elementor-element-3b6266d0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 100px 0px;
}
.elementor-52
  .elementor-element.elementor-element-3b6266d0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-2fa70553:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-31a16b8);
}
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-element-populated
  > .elementor-background-overlay {
  background-image: url("https://a.catand.us/townow/wp-content/uploads/sites/14/2021/06/tyre_whiite_1-1.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.6;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-element-populated,
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-background-slideshow {
  border-radius: 10px 10px 10px 10px;
}
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: -80px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 100px 40px 50px 40px;
}
.elementor-52
  .elementor-element.elementor-element-2fa70553
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-52 .elementor-element.elementor-element-6a6bb902 {
  text-align: center;
}
.elementor-52
  .elementor-element.elementor-element-6a6bb902
  .elementor-heading-title {
  color: var(--e-global-color-primary);
}
.elementor-52 .elementor-element.elementor-element-11da3be7 {
  --spacer-size: 30px;
}
.elementor-52 .elementor-element.elementor-element-5cb92f31 {
  --spacer-size: 10px;
}
.elementor-bc-flex-widget
  .elementor-52
  .elementor-element.elementor-element-545cfc84.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-545cfc84.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-545cfc84
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 100px;
}
.elementor-52 .elementor-element.elementor-element-529daec7 {
  --divider-border-style: solid;
  --divider-color: var(--e-global-color-31a16b8);
  --divider-border-width: 5px;
}
.elementor-52
  .elementor-element.elementor-element-529daec7
  .elementor-divider-separator {
  width: 60px;
}
.elementor-52 .elementor-element.elementor-element-529daec7 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-52 .elementor-element.elementor-element-70e0cd70 {
  --spacer-size: 30px;
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-31a16b8);
  transition: color 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-31a16b8);
  transition: fill 0.3s;
}
.elementor-52 .elementor-element.elementor-element-6ef0ad2 {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-52
  .elementor-element.elementor-element-6ef0ad2
  .elementor-icon-list-text {
  color: var(--e-global-color-31a16b8);
  transition: color 0.3s;
}
.elementor-52
  .elementor-element.elementor-element-20fb7237:not(.elementor-motion-effects-element-type-background),
.elementor-52
  .elementor-element.elementor-element-20fb7237
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}
.elementor-52 .elementor-element.elementor-element-20fb7237 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 0px 20px 0px;
}
.elementor-52
  .elementor-element.elementor-element-20fb7237
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-52
  .elementor-element.elementor-element-12d21df0.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-12d21df0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-12d21df0
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-308a8aa4
  .elementor-heading-title {
  color: var(--e-global-color-31a16b8);
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.elementor-bc-flex-widget
  .elementor-52
  .elementor-element.elementor-element-1366f87a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-1366f87a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-52
  .elementor-element.elementor-element-1366f87a
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-52
  .elementor-element.elementor-element-34dce80d
  .elementor-icon-wrapper {
  text-align: right;
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-framed
  .elementor-icon,
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-framed
  .elementor-icon,
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-framed
  .elementor-icon:hover,
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-accent);
  border-color: var(--e-global-color-accent);
}
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-framed
  .elementor-icon:hover,
.elementor-52
  .elementor-element.elementor-element-34dce80d.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-52 .elementor-element.elementor-element-34dce80d .elementor-icon {
  font-size: 20px;
}
.elementor-52
  .elementor-element.elementor-element-34dce80d
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-52
  .elementor-element.elementor-element-34dce80d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-52 .elementor-element.elementor-element-6cc91ccf {
    width: 35%;
  }
  .elementor-52 .elementor-element.elementor-element-3ae23814 {
    width: 44.332%;
  }
  .elementor-52 .elementor-element.elementor-element-279fc1cf {
    width: 20%;
  }
  .elementor-52 .elementor-element.elementor-element-3a57db73 {
    width: 50%;
  }
  .elementor-52 .elementor-element.elementor-element-13e091c8 {
    width: 50%;
  }
  .elementor-52 .elementor-element.elementor-element-37ad79fa {
    width: 10%;
  }
  .elementor-52 .elementor-element.elementor-element-48c1fd27 {
    width: 79.332%;
  }
  .elementor-52 .elementor-element.elementor-element-460d9b77 {
    width: 10%;
  }
  .elementor-52 .elementor-element.elementor-element-1b9b039 {
    width: 15%;
  }
  .elementor-52 .elementor-element.elementor-element-391e9e10 {
    width: 69.332%;
  }
  .elementor-52 .elementor-element.elementor-element-29069da8 {
    width: 15%;
  }
  .elementor-52 .elementor-element.elementor-element-2fa70553 {
    width: 50%;
  }
  .elementor-52 .elementor-element.elementor-element-545cfc84 {
    width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-52 .elementor-element.elementor-element-6cc91ccf {
    width: 40%;
  }
  .elementor-52 .elementor-element.elementor-element-3ae23814 {
    width: 60%;
  }
  .elementor-52 .elementor-element.elementor-element-279fc1cf {
    width: 100%;
  }
  .elementor-52 .elementor-element.elementor-element-3a57db73 {
    width: 35%;
  }
  .elementor-52 .elementor-element.elementor-element-13e091c8 {
    width: 65%;
  }
  .elementor-52 .elementor-element.elementor-element-2fa70553 {
    width: 60%;
  }
  .elementor-52 .elementor-element.elementor-element-545cfc84 {
    width: 40%;
  }
  .elementor-52 .elementor-element.elementor-element-12d21df0 {
    width: 70%;
  }
  .elementor-52 .elementor-element.elementor-element-1366f87a {
    width: 30%;
  }
}
@media (min-width: 1025px) {
  .elementor-52
    .elementor-element.elementor-element-512c7d91
    > .elementor-background-overlay {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-52
    .elementor-element.elementor-element-6cc91ccf
    > .elementor-element-populated {
    padding: 20px 50px 20px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-3ae23814
    > .elementor-element-populated {
    padding: 0px 20px 0px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-43510a7b {
    --icon-box-icon-margin: 10px;
  }
  .elementor-52 .elementor-element.elementor-element-43510a7b .elementor-icon {
    font-size: 20px;
  }
  .elementor-52 .elementor-element.elementor-element-3b97fda1 {
    --icon-box-icon-margin: 10px;
  }
  .elementor-52 .elementor-element.elementor-element-3b97fda1 .elementor-icon {
    font-size: 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-279fc1cf
    > .elementor-element-populated {
    padding: 20px 0px 20px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .sub-menu
    li
    a.hfe-sub-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    nav.hfe-dropdown
    li
    a.hfe-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    nav.hfe-dropdown-expandible
    li
    a.hfe-menu-item {
    padding-left: 30px;
    padding-right: 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    nav.hfe-dropdown-expandible
    a.hfe-sub-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    nav.hfe-dropdown
    li
    a.hfe-sub-menu-item {
    padding-left: calc(30px + 20px);
    padding-right: 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(30px + 40px);
    padding-right: 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(30px + 60px);
    padding-right: 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item,
  .elementor-52
    .elementor-element.elementor-element-45db76c3
    .hfe-dropdown-expandible
    .menu-item
    ul
    ul
    ul
    ul
    a.hfe-sub-menu-item {
    padding-left: calc(30px + 80px);
    padding-right: 30px;
  }
  .elementor-52 .elementor-element.elementor-element-5d064daf {
    padding: 120px 0px 120px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-261864c7
    > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-13e091c8
    > .elementor-element-populated {
    margin: -60px 20px 0px 0px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 0px;
  }
  .elementor-52 .elementor-element.elementor-element-700e2c46 {
    padding: 80px 0px 40px 0px;
  }
  .elementor-52 .elementor-element.elementor-element-512c7d91 {
    padding: 80px 0px 120px 0px;
  }
  .elementor-52 .elementor-element.elementor-element-3b6266d0 {
    padding: 0px 0px 80px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-2fa70553
    > .elementor-element-populated {
    margin: -60px 0px 0px 20px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 20px;
    padding: 80px 30px 40px 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-545cfc84
    > .elementor-element-populated {
    padding: 0px 40px 0px 30px;
  }
  .elementor-52
    .elementor-element.elementor-element-12d21df0
    > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-1366f87a
    > .elementor-element-populated {
    padding: 0px 20px 0px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-52 .elementor-element.elementor-element-6cc91ccf {
    width: 40%;
  }
  .elementor-52
    .elementor-element.elementor-element-6cc91ccf
    > .elementor-element-populated {
    padding: 20px 10px 20px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-2f0d5400 {
    text-align: center;
  }
  .elementor-52 .elementor-element.elementor-element-279fc1cf {
    width: 60%;
  }
  .elementor-52 .elementor-element.elementor-element-5d064daf {
    padding: 90px 0px 90px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-261864c7
    > .elementor-element-populated {
    padding: 0px 10px 0px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-13e091c8
    > .elementor-element-populated {
    margin: -50px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 30px 20px 30px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-700e2c46 {
    padding: 60px 0px 30px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-48c1fd27
    > .elementor-element-populated {
    padding: 0px 20px 0px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-512c7d91 {
    padding: 60px 0px 90px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-391e9e10
    > .elementor-element-populated {
    padding: 0px 20px 0px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-3b6266d0 {
    padding: 0px 0px 60px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-2fa70553
    > .elementor-element-populated {
    margin: -40px 20px 0px 20px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 60px 20px 30px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-545cfc84
    > .elementor-element-populated {
    padding: 50px 20px 0px 20px;
  }
  .elementor-52
    .elementor-element.elementor-element-12d21df0
    > .elementor-element-populated {
    padding: 0px 20px 0px 20px;
  }
  .elementor-52 .elementor-element.elementor-element-308a8aa4 {
    text-align: center;
  }
  .elementor-52
    .elementor-element.elementor-element-1366f87a
    > .elementor-element-populated {
    padding: 10px 0px 0px 0px;
  }
  .elementor-52
    .elementor-element.elementor-element-34dce80d
    .elementor-icon-wrapper {
    text-align: center;
  }
}
