---
layout: layouts/default.njk
title: Quienes Somos | Servicios de Remolque en Oregon | LLA Towing
eleventyNavigation:
  key: Acerca
  order: 2
---
  <body
    class="page-template-default page page-id-40 ehf-template-hello-elementor ehf-stylesheet-hello-elementor elementor-default elementor-template-canvas elementor-kit-3 elementor-page elementor-page-40"
  >

    <div
      data-elementor-type="wp-page"
      data-elementor-id="40"
      class="elementor elementor-40"
    >

      <div data-elementor-type="wp-page" data-elementor-id="38" class="elementor elementor-38">
        {% include "header/header.njk" %}
      </div>

      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-579ef7ab elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="579ef7ab"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-27cb84ff"
            data-id="27cb84ff"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-7ca5985b elementor-invisible elementor-widget elementor-widget-heading"
                data-id="7ca5985b"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    Acerca de
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7973b708 elementor-widget elementor-widget-spacer"
                data-id="7973b708"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7a88c66e elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="7a88c66e"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft","_animation_delay":300}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "sections/contact.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-3e7219f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="3e7219f3"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2fc5b0f6"
            data-id="2fc5b0f6"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4dbb5368"
            data-id="4dbb5368"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-c209fc4 elementor-widget elementor-widget-heading"
                data-id="c209fc4"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Acerca de Lla Towing LLC
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2b110a8a elementor-widget elementor-widget-spacer"
                data-id="2b110a8a"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-670507d6 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="670507d6"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-72221926 elementor-widget elementor-widget-spacer"
                data-id="72221926"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-4546e855 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="4546e855"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-387bd1fa"
                    data-id="387bd1fa"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-5854d690 elementor-widget elementor-widget-heading"
                        data-id="5854d690"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                            class="elementor-heading-title elementor-size-default"
                          >
                            Nuestra Prioridad es tu Tranquilidad
                          </h4>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-6c703d14 elementor-widget elementor-widget-spacer"
                        data-id="6c703d14"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-3b8f1b1b elementor-widget elementor-widget-text-editor"
                        data-id="3b8f1b1b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>Sabemos que las emergencias en la carretera pueden ser estresantes y preocupantes, y es por eso que estamos comprometidos a brindarte un servicio de remolque rápido y efectivo que te devuelva la tranquilidad en esos momentos críticos. Nuestra flota de vehículos está lista para responder a tu llamada las 24 horas del día, los 7 días de la semana, para asegurarnos de que estés de nuevo en marcha en el menor tiempo posible.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-20c3261a"
                    data-id="20c3261a"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-139fe285 elementor-widget elementor-widget-heading"
                        data-id="139fe285"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                            class="elementor-heading-title elementor-size-default"
                          >
                            Precios Accesibles sin Sacrificar la Calidad
                          </h4>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4fe274e2 elementor-widget elementor-widget-spacer"
                        data-id="4fe274e2"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4c6d2166 elementor-widget elementor-widget-text-editor"
                        data-id="4c6d2166"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>En Lla Towing, creemos que la calidad no debe romper tu presupuesto. Es por eso que ofrecemos tarifas competitivas y precios accesibles para asegurarte que obtengas el servicio que necesitas sin tener que preocuparte por gastos excesivos. Valoramos a nuestra comunidad latina y estamos comprometidos a brindar soluciones de remolque asequibles que se ajusten a tus necesidades.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-4546e855 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="4546e855"
                      data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                          class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-387bd1fa"
                          data-id="387bd1fa"
                          data-element_type="column"
                  >
                    <div
                            class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                              class="elementor-element elementor-element-5854d690 elementor-widget elementor-widget-heading"
                              data-id="5854d690"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                                  class="elementor-heading-title elementor-size-default"
                          >
                            Servicios Adaptados a tus Requerimientos
                          </h4>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-6c703d14 elementor-widget elementor-widget-spacer"
                              data-id="6c703d14"
                              data-element_type="widget"
                              data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-3b8f1b1b elementor-widget elementor-widget-text-editor"
                              data-id="3b8f1b1b"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>Ofrecemos una amplia gama de servicios de remolque para adaptarnos a las diferentes situaciones en las que te puedas encontrar. Ya sea que necesites remolcar un automóvil, camión, motocicleta o vehículo recreativo, nuestro equipo de expertos estará allí para brindarte asistencia rápida y profesional.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                          class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-20c3261a"
                          data-id="20c3261a"
                          data-element_type="column"
                  >
                    <div
                            class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                              class="elementor-element elementor-element-139fe285 elementor-widget elementor-widget-heading"
                              data-id="139fe285"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                                  class="elementor-heading-title elementor-size-default"
                          >
                            Confianza y Profesionalismo

                          </h4>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-4fe274e2 elementor-widget elementor-widget-spacer"
                              data-id="4fe274e2"
                              data-element_type="widget"
                              data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-4c6d2166 elementor-widget elementor-widget-text-editor"
                              data-id="4c6d2166"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>La confianza y el profesionalismo son nuestros pilares. Nuestro personal capacitado y amable se esfuerza por atenderte de la mejor manera posible, garantizando que tu experiencia de remolque sea sin complicaciones y segura. Puedes confiar en nosotros para cuidar de tu vehículo como si fuera nuestro propio.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-29614471"
            data-id="29614471"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
      {% include "sections/descuento.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-aeeadfd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="aeeadfd"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5d7bbd2d"
            data-id="5d7bbd2d"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-262f0270"
            data-id="262f0270"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-43be469d elementor-widget elementor-widget-heading"
                data-id="43be469d"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Nuestra Visión y Misión
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-37d832fc elementor-widget elementor-widget-spacer"
                data-id="37d832fc"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-556eac27 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="556eac27"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1e3d72e4 elementor-widget elementor-widget-spacer"
                data-id="1e3d72e4"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-3b3c79db elementor-widget elementor-widget-heading"
                data-id="3b3c79db"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Nuestra misión es proporcionar servicios de remolque de calidad excepcional, asistencia en carretera y soluciones de movilidad para nuestros clientes, contribuyendo a su seguridad y comodidad en momentos de necesidad.
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2c6531eb elementor-widget elementor-widget-spacer"
                data-id="2c6531eb"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-4f31ccc3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="4f31ccc3"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-425334d0"
                    data-id="425334d0"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-470669d0 elementor-widget elementor-widget-text-editor"
                        data-id="470669d0"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            Estamos comprometidos a ofrecer respuestas rápidas y efectivas, superando las expectativas de nuestros clientes y convirtiéndonos en un socio confiable en sus viajes por carretera. Valoramos la integridad, la responsabilidad y el servicio al cliente como los pilares de nuestra operación.

                            En Lla Towing, nuestra misión y visión son más que simples declaraciones; son el fundamento de nuestro compromiso con la excelencia y la satisfacción del cliente. Trabajamos incansablemente para cumplir con estos principios y seguir siendo el apoyo confiable en la carretera para nuestros clientes en cada viaje que emprenden.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5141122c"
                    data-id="5141122c"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-718a7d0b elementor-widget elementor-widget-text-editor"
                        data-id="718a7d0b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            Como líder en la industria de servicios de remolque, aspiramos a ser reconocidos a nivel nacional como el estándar de excelencia en asistencia en carretera y transporte seguro. Visualizamos un futuro en el que nuestra marca sea sinónimo de confiabilidad y calidad, y donde nuestra flota de vehículos y equipo de profesionales sea el recurso al que acuden las personas en cualquier situación de emergencia en la carretera. Nos esforzamos por seguir creciendo y expandiendo nuestros servicios para servir a una comunidad más amplia y brindar tranquilidad a todos los conductores en los momentos en que más lo necesitan.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5c0a6041"
            data-id="5c0a6041"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
    {% include "footer/footer.njk" %}
    </div>
  </body>
