---
layout: layouts/default.njk
title: Quienes Somos | Servicios de Remolque en Oregon | LLA Towing
eleventyNavigation:
  key: Acerca
  order: 2
---
  <body
    class="page-template-default page page-id-40 ehf-template-hello-elementor ehf-stylesheet-hello-elementor elementor-default elementor-template-canvas elementor-kit-3 elementor-page elementor-page-40"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-dark-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0.49803921568627" />
            <feFuncG type="table" tableValues="0 0.49803921568627" />
            <feFuncB type="table" tableValues="0 0.49803921568627" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-grayscale">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.54901960784314 0.98823529411765"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB
              type="table"
              tableValues="0.71764705882353 0.25490196078431"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-red">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 1" />
            <feFuncG type="table" tableValues="0 0.27843137254902" />
            <feFuncB
              type="table"
              tableValues="0.5921568627451 0.27843137254902"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-midnight">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0 0" />
            <feFuncG type="table" tableValues="0 0.64705882352941" />
            <feFuncB type="table" tableValues="0 1" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-magenta-yellow">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.78039215686275 1" />
            <feFuncG type="table" tableValues="0 0.94901960784314" />
            <feFuncB
              type="table"
              tableValues="0.35294117647059 0.47058823529412"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-purple-green">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR
              type="table"
              tableValues="0.65098039215686 0.40392156862745"
            />
            <feFuncG type="table" tableValues="0 1" />
            <feFuncB type="table" tableValues="0.44705882352941 0.4" />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs></svg
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 0 0"
      width="0"
      height="0"
      focusable="false"
      role="none"
      style="
        visibility: hidden;
        position: absolute;
        left: -9999px;
        overflow: hidden;
      "
    >
      <defs>
        <filter id="wp-duotone-blue-orange">
          <feColorMatrix
            color-interpolation-filters="sRGB"
            type="matrix"
            values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 "
          />
          <feComponentTransfer color-interpolation-filters="sRGB">
            <feFuncR type="table" tableValues="0.098039215686275 1" />
            <feFuncG type="table" tableValues="0 0.66274509803922" />
            <feFuncB
              type="table"
              tableValues="0.84705882352941 0.41960784313725"
            />
            <feFuncA type="table" tableValues="1 1" />
          </feComponentTransfer>
          <feComposite in2="SourceGraphic" operator="in" />
        </filter>
      </defs>
    </svg>
    <div
      data-elementor-type="wp-page"
      data-elementor-id="40"
      class="elementor elementor-40"
    >

      <div data-elementor-type="wp-page" data-elementor-id="38" class="elementor elementor-38">
        {% include "header/header.njk" %}
      </div>

      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-579ef7ab elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="579ef7ab"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-27cb84ff"
            data-id="27cb84ff"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-7ca5985b elementor-invisible elementor-widget elementor-widget-heading"
                data-id="7ca5985b"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    Acerca de
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7973b708 elementor-widget elementor-widget-spacer"
                data-id="7973b708"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7a88c66e elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="7a88c66e"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft","_animation_delay":300}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "sections/contact.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-3e7219f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="3e7219f3"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2fc5b0f6"
            data-id="2fc5b0f6"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4dbb5368"
            data-id="4dbb5368"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-c209fc4 elementor-widget elementor-widget-heading"
                data-id="c209fc4"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Acerca de Lla Towing LLC
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2b110a8a elementor-widget elementor-widget-spacer"
                data-id="2b110a8a"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-670507d6 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="670507d6"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-72221926 elementor-widget elementor-widget-spacer"
                data-id="72221926"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-4546e855 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="4546e855"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-387bd1fa"
                    data-id="387bd1fa"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-5854d690 elementor-widget elementor-widget-heading"
                        data-id="5854d690"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                            class="elementor-heading-title elementor-size-default"
                          >
                            Nuestra Prioridad es tu Tranquilidad
                          </h4>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-6c703d14 elementor-widget elementor-widget-spacer"
                        data-id="6c703d14"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-3b8f1b1b elementor-widget elementor-widget-text-editor"
                        data-id="3b8f1b1b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>Sabemos que las emergencias en la carretera pueden ser estresantes y preocupantes, y es por eso que estamos comprometidos a brindarte un servicio de remolque rápido y efectivo que te devuelva la tranquilidad en esos momentos críticos. Nuestra flota de vehículos está lista para responder a tu llamada las 24 horas del día, los 7 días de la semana, para asegurarnos de que estés de nuevo en marcha en el menor tiempo posible.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-20c3261a"
                    data-id="20c3261a"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-139fe285 elementor-widget elementor-widget-heading"
                        data-id="139fe285"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                            class="elementor-heading-title elementor-size-default"
                          >
                            Precios Accesibles sin Sacrificar la Calidad
                          </h4>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4fe274e2 elementor-widget elementor-widget-spacer"
                        data-id="4fe274e2"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4c6d2166 elementor-widget elementor-widget-text-editor"
                        data-id="4c6d2166"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>En Lla Towing, creemos que la calidad no debe romper tu presupuesto. Es por eso que ofrecemos tarifas competitivas y precios accesibles para asegurarte que obtengas el servicio que necesitas sin tener que preocuparte por gastos excesivos. Valoramos a nuestra comunidad latina y estamos comprometidos a brindar soluciones de remolque asequibles que se ajusten a tus necesidades.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                      class="elementor-section elementor-inner-section elementor-element elementor-element-4546e855 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                      data-id="4546e855"
                      data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                          class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-387bd1fa"
                          data-id="387bd1fa"
                          data-element_type="column"
                  >
                    <div
                            class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                              class="elementor-element elementor-element-5854d690 elementor-widget elementor-widget-heading"
                              data-id="5854d690"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                                  class="elementor-heading-title elementor-size-default"
                          >
                            Servicios Adaptados a tus Requerimientos
                          </h4>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-6c703d14 elementor-widget elementor-widget-spacer"
                              data-id="6c703d14"
                              data-element_type="widget"
                              data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-3b8f1b1b elementor-widget elementor-widget-text-editor"
                              data-id="3b8f1b1b"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>Ofrecemos una amplia gama de servicios de remolque para adaptarnos a las diferentes situaciones en las que te puedas encontrar. Ya sea que necesites remolcar un automóvil, camión, motocicleta o vehículo recreativo, nuestro equipo de expertos estará allí para brindarte asistencia rápida y profesional.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                          class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-20c3261a"
                          data-id="20c3261a"
                          data-element_type="column"
                  >
                    <div
                            class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                              class="elementor-element elementor-element-139fe285 elementor-widget elementor-widget-heading"
                              data-id="139fe285"
                              data-element_type="widget"
                              data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h4
                                  class="elementor-heading-title elementor-size-default"
                          >
                            Confianza y Profesionalismo

                          </h4>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-4fe274e2 elementor-widget elementor-widget-spacer"
                              data-id="4fe274e2"
                              data-element_type="widget"
                              data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                              class="elementor-element elementor-element-4c6d2166 elementor-widget elementor-widget-text-editor"
                              data-id="4c6d2166"
                              data-element_type="widget"
                              data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>La confianza y el profesionalismo son nuestros pilares. Nuestro personal capacitado y amable se esfuerza por atenderte de la mejor manera posible, garantizando que tu experiencia de remolque sea sin complicaciones y segura. Puedes confiar en nosotros para cuidar de tu vehículo como si fuera nuestro propio.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-29614471"
            data-id="29614471"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-2cfc5fe4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="2cfc5fe4"
        data-element_type="section"
        data-settings='{"background_background":"classic","animation":"none"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-771275d7"
            data-id="771275d7"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-15f335bd"
            data-id="15f335bd"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-7fa8becf elementor-widget elementor-widget-heading"
                data-id="7fa8becf"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Servicios de remolque
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6f78a9fd elementor-widget elementor-widget-spacer"
                data-id="6f78a9fd"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1413a6f6 elementor-widget elementor-widget-heading"
                data-id="1413a6f6"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Precios mas comunes
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-58871f4f"
            data-id="58871f4f"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-20bcdd0f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="20bcdd0f"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5f834e8c elementor-invisible"
            data-id="5f834e8c"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeInLeft","animation_delay":600}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-3067dec8 elementor-widget elementor-widget-heading"
                data-id="3067dec8"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Minimum Cost
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5079470e elementor-widget elementor-widget-spacer"
                data-id="5079470e"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5848b494 elementor-widget elementor-widget-heading"
                data-id="5848b494"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    Low-end
                  </h3>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2e0295cd elementor-widget elementor-widget-spacer"
                data-id="2e0295cd"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7961c6e2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="7961c6e2"
                data-element_type="widget"
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2535f98d elementor-widget elementor-widget-spacer"
                data-id="2535f98d"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-33048f74 elementor-widget elementor-widget-heading"
                data-id="33048f74"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    $50
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7db16d9e elementor-widget elementor-widget-spacer"
                data-id="7db16d9e"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-313e89dd elementor-widget elementor-widget-heading"
                data-id="313e89dd"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h6 class="elementor-heading-title elementor-size-default">
                    for the first 10 miles
                  </h6>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5d82b2df elementor-widget elementor-widget-spacer"
                data-id="5d82b2df"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-67034685 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="67034685"
                data-element_type="widget"
                data-widget_type="icon-list.default"
              >
                <div class="elementor-widget-container">
                  <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Refill gas</span>
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Jumpstart a battery</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Unlock the car door</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="far fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Transport a broken car</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="far fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Tire change</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5e095597 elementor-invisible"
            data-id="5e095597"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeIn","animation_delay":300}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-background-overlay"></div>
              <div
                class="elementor-element elementor-element-5c893ab5 elementor-widget elementor-widget-heading"
                data-id="5c893ab5"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Average Cost
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-673eeb6b elementor-widget elementor-widget-spacer"
                data-id="673eeb6b"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-789ec2fc elementor-widget elementor-widget-heading"
                data-id="789ec2fc"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    Average
                  </h3>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-730a5f6c elementor-widget elementor-widget-spacer"
                data-id="730a5f6c"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7d5cb311 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="7d5cb311"
                data-element_type="widget"
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-3938b59 elementor-widget elementor-widget-spacer"
                data-id="3938b59"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-84c1be3 elementor-widget elementor-widget-heading"
                data-id="84c1be3"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    $95
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1c08fda elementor-widget elementor-widget-spacer"
                data-id="1c08fda"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-33e6b5ec elementor-widget elementor-widget-heading"
                data-id="33e6b5ec"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h6 class="elementor-heading-title elementor-size-default">
                    for the first 10 miles
                  </h6>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-62c875 elementor-widget elementor-widget-spacer"
                data-id="62c875"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-77b04cb2 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="77b04cb2"
                data-element_type="widget"
                data-widget_type="icon-list.default"
              >
                <div class="elementor-widget-container">
                  <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Refill gas</span>
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Jumpstart a battery</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Unlock the car door</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Transport a broken car</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="far fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Tire change</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6ac5aa0 elementor-invisible"
            data-id="6ac5aa0"
            data-element_type="column"
            data-settings='{"background_background":"classic","animation":"fadeInRight","animation_delay":600}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-50bacbbd elementor-widget elementor-widget-heading"
                data-id="50bacbbd"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Maximum Cost
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-30a515ae elementor-widget elementor-widget-spacer"
                data-id="30a515ae"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-e717d21 elementor-widget elementor-widget-heading"
                data-id="e717d21"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    High-end
                  </h3>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-67458c8 elementor-widget elementor-widget-spacer"
                data-id="67458c8"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-21f39e98 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="21f39e98"
                data-element_type="widget"
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1dfebabf elementor-widget elementor-widget-spacer"
                data-id="1dfebabf"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2c560708 elementor-widget elementor-widget-heading"
                data-id="2c560708"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    $300
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-65bad84a elementor-widget elementor-widget-spacer"
                data-id="65bad84a"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-58678ea1 elementor-widget elementor-widget-heading"
                data-id="58678ea1"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h6 class="elementor-heading-title elementor-size-default">
                    for the first 10 miles
                  </h6>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-5b7d39e7 elementor-widget elementor-widget-spacer"
                data-id="5b7d39e7"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-17009086 elementor-align-center elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="17009086"
                data-element_type="widget"
                data-widget_type="icon-list.default"
              >
                <div class="elementor-widget-container">
                  <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Refill gas</span>
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Jumpstart a battery</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Unlock the car door</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Transport a broken car</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <i aria-hidden="true" class="fas fa-circle"></i>
                      </span>
                      <span class="elementor-icon-list-text">Tire change</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-aeeadfd elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="aeeadfd"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5d7bbd2d"
            data-id="5d7bbd2d"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-262f0270"
            data-id="262f0270"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-43be469d elementor-widget elementor-widget-heading"
                data-id="43be469d"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Nuestra Visión y Misión
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-37d832fc elementor-widget elementor-widget-spacer"
                data-id="37d832fc"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-556eac27 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="556eac27"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-1e3d72e4 elementor-widget elementor-widget-spacer"
                data-id="1e3d72e4"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-3b3c79db elementor-widget elementor-widget-heading"
                data-id="3b3c79db"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h4 class="elementor-heading-title elementor-size-default">
                    Nuestra misión es proporcionar servicios de remolque de calidad excepcional, asistencia en carretera y soluciones de movilidad para nuestros clientes, contribuyendo a su seguridad y comodidad en momentos de necesidad.
                  </h4>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-2c6531eb elementor-widget elementor-widget-spacer"
                data-id="2c6531eb"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-4f31ccc3 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="4f31ccc3"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-425334d0"
                    data-id="425334d0"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-470669d0 elementor-widget elementor-widget-text-editor"
                        data-id="470669d0"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            Estamos comprometidos a ofrecer respuestas rápidas y efectivas, superando las expectativas de nuestros clientes y convirtiéndonos en un socio confiable en sus viajes por carretera. Valoramos la integridad, la responsabilidad y el servicio al cliente como los pilares de nuestra operación.

                            En Lla Towing, nuestra misión y visión son más que simples declaraciones; son el fundamento de nuestro compromiso con la excelencia y la satisfacción del cliente. Trabajamos incansablemente para cumplir con estos principios y seguir siendo el apoyo confiable en la carretera para nuestros clientes en cada viaje que emprenden.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5141122c"
                    data-id="5141122c"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-718a7d0b elementor-widget elementor-widget-text-editor"
                        data-id="718a7d0b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            Como líder en la industria de servicios de remolque, aspiramos a ser reconocidos a nivel nacional como el estándar de excelencia en asistencia en carretera y transporte seguro. Visualizamos un futuro en el que nuestra marca sea sinónimo de confiabilidad y calidad, y donde nuestra flota de vehículos y equipo de profesionales sea el recurso al que acuden las personas en cualquier situación de emergencia en la carretera. Nos esforzamos por seguir creciendo y expandiendo nuestros servicios para servir a una comunidad más amplia y brindar tranquilidad a todos los conductores en los momentos en que más lo necesitan.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5c0a6041"
            data-id="5c0a6041"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
    {% include "footer/footer.njk" %}
    </div>
  </body>
