---
layout: layouts/default.njk
title: Testimonios | Servicios de Remolque en Oregon | LLA Towing
eleventyNavigation:
  key: Testimonios
  order: 4
---
  <body
    class="page-template-default page page-id-44 ehf-template-hello-elementor ehf-stylesheet-hello-elementor elementor-default elementor-template-canvas elementor-kit-3 elementor-page elementor-page-44"
  >

    <div
      data-elementor-type="wp-page"
      data-elementor-id="44"
      class="elementor elementor-44"
    >
      <div data-elementor-type="wp-page" data-elementor-id="38" class="elementor elementor-38">
        {% include "header/header.njk" %}
      </div>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-3d459c9f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="3d459c9f"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-79279f81"
            data-id="79279f81"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-2c8768fa elementor-invisible elementor-widget elementor-widget-heading"
                data-id="2c8768fa"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h1 class="elementor-heading-title elementor-size-default">
                    Testimonial
                  </h1>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6a7ab22a elementor-widget elementor-widget-spacer"
                data-id="6a7ab22a"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-38a6c223 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="38a6c223"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInLeft","_animation_delay":300}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% include "sections/contact.njk" %}
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-7f76a264 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="7f76a264"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1a45562e"
            data-id="1a45562e"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              {%- for testimonial in data.home.testimonials %}
              {% if loop.index % 2 == 0 %}
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-478a9052 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="478a9052"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7aaa765d"
                    data-id="7aaa765d"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-6ef0d84a elementor-widget elementor-widget-image"
                        data-id="6ef0d84a"
                        data-element_type="widget"
                        data-widget_type="image.default"
                      >
                        <div class="elementor-widget-container">
                          <img
                            decoding="async"
                            src="../wp-content/uploads/sites/14/elementor/thumbs/rating.png"
                            title="testimonial"
                            alt="testimonial"
                            loading="lazy"
                          />
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-297e25ca elementor-widget elementor-widget-spacer"
                        data-id="297e25ca"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-2d9037b7 elementor-widget elementor-widget-heading"
                        data-id="2d9037b7"
                        data-element_type="widget"
                        data-widget_type="heading.default"
                      >
                        <div class="elementor-widget-container">
                          <h6
                            class="elementor-heading-title elementor-size-default"
                          >
                            {{ testimonial.client }}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1797f651"
                    data-id="1797f651"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-6ca63ccc elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="6ca63ccc"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-left"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-12df9983 elementor-widget elementor-widget-spacer"
                        data-id="12df9983"
                        data-element_type="widget"
                        data-widget_type="spacer.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-199b817b elementor-widget elementor-widget-text-editor"
                        data-id="199b817b"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p>
                            {{ testimonial.testimonial}}
                          </p>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-434770aa elementor-view-default elementor-widget elementor-widget-icon"
                        data-id="434770aa"
                        data-element_type="widget"
                        data-widget_type="icon.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-icon-wrapper">
                            <div class="elementor-icon">
                              <i
                                aria-hidden="true"
                                class="fas fa-quote-right"
                              ></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div
                class="elementor-element elementor-element-58eeef73 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                data-id="58eeef73"
                data-element_type="widget"
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5d992200"
            data-id="5d992200"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              {%- for testimonial in data.home.testimonials %}
                {% if loop.index % 2 == 1 %}
                  <section
                          class="elementor-section elementor-inner-section elementor-element elementor-element-478a9052 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                          data-id="478a9052"
                          data-element_type="section"
                  >
                    <div class="elementor-container elementor-column-gap-default">
                      <div
                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7aaa765d"
                              data-id="7aaa765d"
                              data-element_type="column"
                      >
                        <div
                                class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                                  class="elementor-element elementor-element-6ef0d84a elementor-widget elementor-widget-image"
                                  data-id="6ef0d84a"
                                  data-element_type="widget"
                                  data-widget_type="image.default"
                          >
                            <div class="elementor-widget-container">
                              <img
                                      decoding="async"
                                      src="../wp-content/uploads/sites/14/elementor/thumbs/rating.png"
                                      title="testimonial"
                                      alt="testimonial"
                                      loading="lazy"
                              />
                            </div>
                          </div>
                          <div
                                  class="elementor-element elementor-element-297e25ca elementor-widget elementor-widget-spacer"
                                  data-id="297e25ca"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                              </div>
                            </div>
                          </div>
                          <div
                                  class="elementor-element elementor-element-2d9037b7 elementor-widget elementor-widget-heading"
                                  data-id="2d9037b7"
                                  data-element_type="widget"
                                  data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <h6
                                      class="elementor-heading-title elementor-size-default"
                              >
                                {{ testimonial.client }}
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1797f651"
                              data-id="1797f651"
                              data-element_type="column"
                      >
                        <div
                                class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                                  class="elementor-element elementor-element-6ca63ccc elementor-view-default elementor-widget elementor-widget-icon"
                                  data-id="6ca63ccc"
                                  data-element_type="widget"
                                  data-widget_type="icon.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-icon-wrapper">
                                <div class="elementor-icon">
                                  <i
                                          aria-hidden="true"
                                          class="fas fa-quote-left"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div
                                  class="elementor-element elementor-element-12df9983 elementor-widget elementor-widget-spacer"
                                  data-id="12df9983"
                                  data-element_type="widget"
                                  data-widget_type="spacer.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-spacer">
                                <div class="elementor-spacer-inner"></div>
                              </div>
                            </div>
                          </div>
                          <div
                                  class="elementor-element elementor-element-199b817b elementor-widget elementor-widget-text-editor"
                                  data-id="199b817b"
                                  data-element_type="widget"
                                  data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              <p>
                                {{ testimonial.testimonial}}
                              </p>
                            </div>
                          </div>
                          <div
                                  class="elementor-element elementor-element-434770aa elementor-view-default elementor-widget elementor-widget-icon"
                                  data-id="434770aa"
                                  data-element_type="widget"
                                  data-widget_type="icon.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-icon-wrapper">
                                <div class="elementor-icon">
                                  <i
                                          aria-hidden="true"
                                          class="fas fa-quote-right"
                                  ></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <div
                          class="elementor-element elementor-element-58eeef73 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                          data-id="58eeef73"
                          data-element_type="widget"
                          data-widget_type="divider.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-divider">
                        <span class="elementor-divider-separator"> </span>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-4c0bd432 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="4c0bd432"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2df22969 elementor-hidden-tablet elementor-hidden-phone elementor-invisible"
            data-id="2df22969"
            data-element_type="column"
            data-settings='{"animation":"fadeInLeft"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-2982ac3f elementor-widget elementor-widget-image"
                data-id="2982ac3f"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    decoding="async"
                    src="../wp-content/uploads/sites/14/elementor/thumbs/car-mechanics-working-and-maintaining-car-ZWSVXFB-1-p8r4z7k4kobj5fzqd62zyhg15nwof3gqrkub7sk3ns.jpg"
                    title="car-mechanics-working-and-maintaining-car-ZWSVXFB.jpg"
                    alt="car-mechanics-working-and-maintaining-car-ZWSVXFB.jpg"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4cf7645d"
            data-id="4cf7645d"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-357fb0ca elementor-widget elementor-widget-spacer"
                data-id="357fb0ca"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-14378474 elementor-widget elementor-widget-heading"
                data-id="14378474"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    Los Números Hablan
                  </h3>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-8659e27 elementor-widget elementor-widget-spacer"
                data-id="8659e27"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6656aa57 elementor-widget-divider--view-line elementor-invisible elementor-widget elementor-widget-divider"
                data-id="6656aa57"
                data-element_type="widget"
                data-settings='{"_animation":"fadeInRight","_animation_delay":300}'
                data-widget_type="divider.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-divider">
                    <span class="elementor-divider-separator"> </span>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-517c9720 elementor-widget elementor-widget-spacer"
                data-id="517c9720"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-16307ca6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="16307ca6"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-46a52de7"
                    data-id="46a52de7"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-19666fc8 elementor-widget elementor-widget-counter"
                        data-id="19666fc8"
                        data-element_type="widget"
                        data-widget_type="counter.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                              <span
                                class="elementor-counter-number-prefix"
                              ></span>
                              <span
                                class="elementor-counter-number"
                                data-duration="2000"
                                data-to-value="30"
                                data-from-value="0"
                                data-delimiter=","
                                >0</span
                              >
                              <span
                                class="elementor-counter-number-suffix"
                              ></span>
                            </div>
                            <div class="elementor-counter-title">
                              Minutos o menos
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-510264b3"
                    data-id="510264b3"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-155ba723 elementor-widget elementor-widget-counter"
                        data-id="155ba723"
                        data-element_type="widget"
                        data-widget_type="counter.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                              <span
                                class="elementor-counter-number-prefix"
                              ></span>
                              <span
                                class="elementor-counter-number"
                                data-duration="2000"
                                data-to-value="24"
                                data-from-value="0"
                                data-delimiter=","
                                >0</span
                              >
                              <span class="elementor-counter-number-suffix"
                                >/7</span
                              >
                            </div>
                            <div class="elementor-counter-title">Disponible</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-69438cc0"
                    data-id="69438cc0"
                    data-element_type="column"
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-b3e27a8 elementor-widget elementor-widget-counter"
                        data-id="b3e27a8"
                        data-element_type="widget"
                        data-widget_type="counter.default"
                      >
                        <div class="elementor-widget-container">
                          <div class="elementor-counter">
                            <div class="elementor-counter-number-wrapper">
                              <span
                                class="elementor-counter-number-prefix"
                              ></span>
                              <span
                                class="elementor-counter-number"
                                data-duration="2000"
                                data-to-value="100"
                                data-from-value="0"
                                data-delimiter=","
                                >0</span
                              >
                              <span class="elementor-counter-number-suffix"
                                >+</span
                              >
                            </div>
                            <div class="elementor-counter-title">Clientes satisfechos</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>
      {% include "sections/descuento.njk" %}
      {% include "footer/footer.njk" %}
    </div>
  </body>
